Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
psycopg2-binary --no-binary psycopg2
python-dotenv
PyJWT
requests
gunicorn
pytest
pytest-env
flask-restful
coverage
coveralls[yaml]
exponent_server_sdk
Flask-Cors==3.0.8